/* Geral */
*{
    margin: 0px;
    padding: 0px;
}


/* Header */
.containerHeader {
    background-color: #000;
}

.containerHeader .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.title {
    font-size: 20pt;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.822);
    font-family: Arial;
}

.title:hover{
    color: #fff
} 

.title span {
    color: #ff0000b2
}

.title span:hover {
    color: #ff0000
}


.navbar ul {
    display: flex;
}

.itemNav {
    list-style: none;
}

.itemNav a{
    color: #fff;
    margin-right: 1.5em
}